<div class="landing-page"> <div class="firstPage"> <header></header> <aside> <div> <!-- 				<div class="h-container">
					<h1>Qualified Dostors
						<div>and Modern Facilities</div>
					</h1>
					<h2>Primary Care and Specialists Where You Need Them</h2>
				</div> --> <div class="m-container"> <h3>GET STARTED</h3> <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu turpis dignissim, aliquam mi fringilla, varius neque.</p> --> <ul> <li ng-click="goHref(hrefHospitals)">Planboard </li> <!-- <li ui-sref="hospitals">Planboard </li> --> <!-- <li ui-sref="doctors">Doctors</li> --> <li ng-click="goHref(hrefHReports)">Hospital reports</li> <li ng-click="goHref(hrefDReports)">Doctors reports</li> <li ng-click="goHref(adminHospital)">Hospital admin</li> <li ng-click="goHref(adminDoctors)">Doctor admin</li> <li ng-click="goHref(adminHollidays)">Hollidays admin</li>
<li ng-click="goHref(adminHistory)">History Manager</li> <li ng-click="goHref(financialHospitalReports)">Financial Hospitals Report</li> <li ng-click="goHref(financialDoctorReports)">Financial Doctors Report</li>				</ul> </div> </div> </aside> </div> </div>

